.input {
  @apply
    block 
    w-full 
    bg-white 
    py-2 
    pr-3
    shadow-sm 
    rounded-md 
    leading-5 
    sm:text-sm
    border 
}

.input-base {
  @apply
    text-gray-900 
    placeholder-gray-500 
    
    border-gray-300
    focus:outline-none 
    focus:ring-2 
    focus:ring-offset-2 
    focus:ring-offset-indigo-600 
    focus:ring-white 
    focus:border-white 
    
}

.input-error {
  @apply 
    border-red-300 
    text-red-900 
    placeholder-red-300 
    focus:outline-none 
    focus:ring-red-500 
    focus:border-red-500
}
